{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 120,
    "tabWidth": 2,
    "key-spacing": [
        "error",
        {
            "afterColon" : true,
            "beforeColon" : false,
            "mode": "strict"
        }
    ]
}